:root {
    --dc-color-brand: #fff;

  /* COLOR PALETTE */
  --dc-color-n-000: #fff;
  --dc-color-n-010: #eee;
  --dc-color-n-050: #555555;
  --dc-color-n-100: #333333;
  --dc-color-n-200: #3350b8;
  --dc-color-n-250: #6c98e1;
  --dc-color-n-300: #ffb129;
  
  /* BACKGROUND COLOR */
  --dc-color-background-primary: var(--dc-color-n-00);
  --dc-color-background-navbar: var(--dc-color-n-100);
  --dc-color-content-car: var(--dc-color-n-010);
  
  /* BUTTON COLOR */
  --dc-color-hamburger-button: var(--dc-color-n-000);
  --dc-color-background-button: var(--dc-color-n-200);
  --dc-color-background-button-hover : var(--dc-color-n-300);
  --dc-color-title-car-hover: var(--dc-color-n-250);
  /* TYPOGRAPHY COLOR */

  --dc-color-typography-body: var(--dc-color-n-050);
  --dc-color-typography-button: var(--dc-color-n-000);
  --dc-color-typography-title-car: var(--dc-color-n-100);

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--dc-color-typography-body);
}

/* MOBILE FIRST */

.dc-navbar {
    background: var(--dc-color-n-100);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    padding-right: 15px;
    padding-right: 50px;
    z-index: 9999;
}

.dc-navbar-img {
    display: flex;
    align-items: center;
}

.hiddenNav {
    display: none;
}

.dc-navbar-hamburger {
    position:fixed;
    right:10px;
}

.dc-navbar-mainlist ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dc-navbar-mainlist ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}
.dc-navbar-mainlist ul li a:hover{
    color: #c8c8c8;
}

.image-logo {
    max-width: 100%;
    height: auto;
}

label.hamburger {
    display: block;
    width: 40px;
    height: 60px;
    position: relative;
    cursor: pointer;
 }
 
 input#hamburger {
   display:none;
 }
 
 .line {
    position: absolute;
    height: 6px;
    width: 100%;
    background: var(--dc-color-hamburger-button);
    transition: 0.5s;
    border-radius: 10px;
 }
 
 .line:nth-child(1) { top: 12px; }
 .line:nth-child(2) { top: 24px; }
 .line:nth-child(3) { top: 36px; }
 

#hamburger:checked + .hamburger .line:nth-child(1){
transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
transform: translateY(-12px) rotate(45deg);
}

.dc-main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dc-side-filter {
    margin-top: 15px;
    min-width: 90%;
}

.dc-side-filter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dc-side-filter form select {
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid var(--dc-color-background-button);
    color: #232628;
    margin-bottom: 20px;
}

.dc-side-filter form input[type=number] {
    height: 36px;
    /* line-height: 40px; */
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid var(--dc-color-background-button);
    color: #232628;
    margin-bottom: 20px;
    width: 100%;
}

.filter-price {
    display: flex;
    flex-direction: row;
}

.dc-side-filter form input[type=reset] {
    height: 40px;
    width: 100%;
    background-color: #3350b8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-weight: 700;
}



.dc-side-filter form input[type=button] {
    height: 40px;
    background: var(--dc-color-background-button);
    border: none;
    color: white;
    font-weight: 700;
    width: fit-content;
}

.dc-side-filter form input[type=reset]:hover, .dc-side-filter form input[type=button]:hover {
    background-color: var(--dc-color-background-button-hover);
}

.dc-side-filter form select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.dc-cars-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 90%;
}

.dc-single-dataMetaImgDiv img {
    width: 100%;
    height: auto;
}

.dc-single-car {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--dc-color-content-car);
    width: 100%;
    height: auto;
}

.dc-single-dataMetaTopDiv {
    display: flex;
    flex-direction: column;
}

.dc-single-car__brandTitle {
    font-size: 22px;
    color: var(--dc-color-typography-title-car);
    line-height: 24px;
    font-weight: 700;
    margin: 10px;
    padding-top: 30px;
}

.dc-single-car__brandTitle:hover {
   color: var(--dc-color-title-car-hover);
}

.dc-single-car__price {
    font-family: 'Montserrat', sans-serif;
    color: var(--dc-color-typography-button);
    font-size: 18px;
    font-weight: 700;
    background-color: var(--dc-color-background-button);
    width: min-content;
    margin: 15px;
    padding: 10px 25px;
}

.dc-single-car__table {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid var(--dc-color-typography-body);
}

.bold {
    font-weight: 700;
}

.dc-single-buttonSeeMore {
    width: 100%;
    background-color: #3350b8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-weight: 700;
    margin: 10px;
}

.dc-single-buttonSeeMore:hover {
    background-color: var(--dc-color-background-button-hover);
}

.dc-single-divButtonSeeMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dc-single-dataMeta {
    display: flex;
    flex-direction: column;
}

.dc-single-dataMetaBottomDiv {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1080px) { 
    .dc-single-divButtonSeeMore {
        display: none;
    }

    .dc-navbar {
        flex-direction: row;
        justify-content: space-between;
    }
       
    .dc-navbar-hamburger {
        display: none;
    }

    .hiddenNav {
        display: inline
    }

    .dc-navbar-mainlist ul {
        display: flex;
        flex-direction: row;
    }

    .dc-navbar-mainlist ul li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .dc-single-car {    
        flex-direction: row;
        justify-content: left;
        padding: 0%;
    }

    .dc-single-dataMetaTopDiv {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100px;
    }
    
    .dc-single-car__price {
       margin: 0;
       margin-top: 21px;
       margin-right: 21px;
       height: min-content;
    }
    .dc-single-car__table {
        width: 100%;
        height: min-content;
        border-bottom: 0px;
    }

    .dc-single-dataMeta {
        margin-left: 30px;
        width: 100%;
    }

    .dc-single-dataMetaImgDiv {
        margin: 0;
    }
    .dc-single-dataMetaImgDiv img {
        object-fit: fill;
    }
    
    .dc-side-filter form {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }

    .dc-side-filter select {
        margin-right: 20px;
        width: 30%;
    }
    .dc-side-filter input {
        margin-right: 20px;
        width: 30%;
    }

    .filter-price {
        display: flex;
        flex-direction: row;
    }

    .dc-side-filter form input[type=button] {
        width: auto;
        margin-left: -20px;
    }

    .dc-side-filter form input[type=reset] {
        width: 30%;
    }
    
}

